.item-img {
    width: 15.5rem;
    min-width: 15.5rem;
    height: 200px;
    object-fit: cover;
}

.filter__rental-home {
    min-width: 20rem;
    max-height: fit-content;
    max-width: 20rem;
}

section.hero .hero-overlay {
    --bs-bg-opacity: 0.35;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.form-search input:checked, 
.form-search label:has(input:checked) span  {
    background-color: var(--bs-success) !important;
    color: var(--bs-light) !important;
    border-color: var(--bs-success) !important;
}

.__title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

@media screen and (max-width: 576px) {
    .item-img {
        width: 100% !important;
    }
}